.pet_home_header {
    margin-bottom: 2em;
}

.pet_home_header h1 {
    margin-bottom: .3em;
}

.pet_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1em;


}

.pet_card {
    border: 1px solid rgb(211, 218, 221);
    border-radius: 8px;
    padding: .5em;
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
}

.pet_card_image {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    margin-bottom: 1.2em;
    border-radius: 8px;
   
}

.pet_card p {
    margin-bottom: .5em;
}
.pet_card h3 {
    color: #16479d;
    margin-bottom: .3em;
    font-size: 1.5em;
    padding: 8px;
}

.pet_card a {
    text-decoration: none;
    background-color: #ffd400;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
   
}

.pet_card a:hover {
    background-color: #e6c20e;
    color: #fff;
}

.adopted_text {
    color: #25b456;
    font-weight: bold;
    padding: 15px;
}